
<!--
<ul>
    <li *ngFor="let pais of paises">{{pais.name}} - {{pais.population | number}}</li>

</ul>
-->
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger animated fadeId">
    <h3>Error</h3>
    <p>
        {{mensajeError}} 
    </p>

</div>

<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>