
<div class="row">
    <div class="col">
            <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
    </div>

</div>

<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>

<!--<div class="card-columns m-5"> m-5 para separarlo un poco -->
    <!-- <div *ngFor="let artista of artistas" class="card">
     pipes no image-->
      <!--
      <img [src]="artista.images | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{artista.name}}</h5>
       
      </div>
    </div>-->
