
<app-loading *ngIf="loadingArtista"></app-loading>

<div class="row animated fadeIn" *ngIf="!loadingArtista">
    <div class="col-2">
        <img [src]="artista.images | noimage" alt="" class="img-thumbnail img-circle"> 
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">Ir a  la pagina del artista</a>
        </p>
    </div>
    <div class="col-4 text-right">

        <button routerLink="/search" class="btn btn-outline-danger">Regresar </button>
    </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>     
                        <tr>
                            
                            <th>Album</th>
                            <th>Cancion</th>
                            <th>Foto</th>
                            <th>Vista previa</th>
                        </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let track of topTracks">
                        <td>{{ track.album.name }}</td>
                        <td>{{ track.name }}</td>
                        <td>
                            <img [src]="track.album.images | noimage" class="img-thumb"  alt="" height="" >  
                        </td>
                        <td>
                         <!--  <audio [src]="track.preview_url" controls></audio>--> 

                         <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                       <!--  <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:6sFIWsNpZYqfjUpaCgueju&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                        --></td>

                    </tr>
                </tbody>

            </table>

        </div>

    </div>

